
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #E8E7E2;
	font-family: 'Anonymous Pro';
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 78%;
	padding-left: 1%;
}

/* MIDI Monitor */
#monitor {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	background: #ccc;
	padding-left: 5px;
	overflow: scroll;
}

.note-off {
	color: red;
}

.note-on {
	color: green;
}

.btn-green {
	background-color:#44c767;
	border-color:#18ab29;
	color:#ffffff;
	text-shadow:0px 1px 0px #2f6627;
}
.btn-green:hover {
	background-color:#5cbf2a;
}

.btn-red {
	background-color:#e4685d;
	border-color:#ffffff;
	text-shadow:0px 1px 0px #b23e35;
}
.btn-red:hover {
	background-color:#b8544b;
}
.btn-red:active {
	position:relative;
	top:1px;
}

button:focus {
	outline:0;
}
button {
	background-color:#7892c2;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
button:hover {
	background-color:#476e9e;
}
button:active {
	position:relative;
	top:1px;
}

#actions {
    line-height: 32px;
}

#txtTrigger {
	width: 100%;
}

/* Cannon */
#box {
	max-height: 400px;
	overflow: scroll;
}

table {
	font-size: 10px;
	border: 1px solid #566963;
	border-collapse: collapse;
}

tr, td, th {
	border: 1px solid #566963;
}

td {
	text-align: center;
}

tr.active {
	background: #566963;
	color: white;
}

#lastQueue {
	height: 30px;
}

#lastQueue td {
	padding: 10px;
}

.remove-sequence, .position {
	cursor: pointer;
}